/*
    --- Line Graph CSS ---
*/
.line_grid line {
  stroke: lightgrey;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}
.line_grid path {
  stroke-width: 0;
}
.mf {
  background: #4682B4;
}
.feat_mf {
  background: #FF3232;
}
.axis path,
.axis line {
  fill: none;
  stroke: #D4D8DA;
  stroke-width: 2px;
  shape-rendering: crispEdges;
}
.axis {
  font: 10px sans-serif;
}
.data-name {margin: 0 !important;}
.key-dot {
    display: inline-block;
    height: 10px;
    margin-right: .5em;
    width: 10px;
}
.line {
  fill: none;
  stroke: #6F257F;
  stroke-width: 5px;
}
.overlay {
  fill: none;
  pointer-events: all;
}
.focus circle {
  fill: #6F257F;
  stroke: #6F257F;
  stroke-width: 3px;
}
.hover-line {
  stroke: #6F257F;
  stroke-width: 2px;
  stroke-dasharray: 3,3;
}
.mf_val {}

.visualization_container {
  width: 100%;
  padding: 0px;
}

/*
    --- Data Table CSS ---
*/
#parent {
  display: flex;
  width: 100%;
}
#narrow {
  width: 300px;
  margin-left: 150px;
  
  /* Just so it's visible */
}
#wide {
  flex: 2;
  /* Grow to rest of container */
  /* Just so it's visible */
}

.table-fill {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  height: 320px !important;
  margin: auto;
  max-width: 600px;
  padding:5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
  overflow: scroll !important;
}
 
th {
  color:#D5DDE5;;
  background:#1b1e24;
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size:14px;
  font-weight: 100;
  padding:4px;
  text-align:left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}

th:first-child {
  border-top-left-radius:3px;
}
 
th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}
  
tr {
  border-top: 1px solid #C1C3D1;
  border-bottom-: 1px solid #C1C3D1;
  color:#666B85;
  font-size:8px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
 
tr:hover td {
  background:#4E5066;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
}
 
tr:first-child {
  border-top:none;
}

tr:last-child {
  border-bottom:none;
}
 
tr:nth-child(odd) td {
  background:#EBEBEB;
}
 
tr:nth-child(odd):hover td {
  background:#4E5066;
}

tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}
 
tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}
 
td {
  background:#FFFFFF;
  padding:6px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:18px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}

td:last-child {
  border-right: 0px;
}

th.text-left {
  text-align: left;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: left;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}


/*
    --- Legend CSS ---
 */
.legend {
  margin:0px;
  padding-left:5px !important;
  padding:10px;
  border:1px solid black;
  text-align: left;
  width: 33%
}

/*
    --- Radar Chart CSS ---
 */
