 /* html {
  height: 100%;
}  */

body {
  padding-top: 10rem;
  /*background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);*/
  background: rgb(34,193,195);
  background: -moz-linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(91,132,251,1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(91,132,251,1) 100%);
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(91,132,251,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#22c1c3",endColorstr="#5b84fb",GradientType=1);       
  height: 100%;
  /* animation: colorchange 50s; /* animation-name followed by duration in seconds*/
  /* you could also use milliseconds (ms) or something like 2.5s */
  /* -webkit-animation: colorchange 50s;  Chrome and Safari  */ 
}

img.icon {
  width: 50px;
  height: 50px;
}

/* Color change code */
/* @keyframes colorchange
    {
      0%   {background: red;}
      25%  {background: yellow;}
      50%  {background: blue;}
      75%  {background: green;}
      100% {background: red;}
    }

    @-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
    /* {
      0%   {background: red;}
      25%  {background: yellow;}
      50%  {background: blue;}
      75%  {background: green;}
      100% {background: red;}
    } */
/* END COLOR CHANGE */

.base_template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.datasetWarn{
  background-color:#e50000;
}

.bg-green{
  background-color: #1db954!important
}

hr {
    border: none;
    height: 1px;
    /* Set the hr color */
    color: white; /* old IE */
    background-color: white; /* Modern Browsers */
    width: 65%;
    align-content: left;
}


h1 {
  color: dark-gray;
}

@font-face {
    font-family: 'cocogoose_classic_trialmedium';
    src: url('cocogoose-classic-medium-trial-webfont.woff2') format('woff2'),
         url('cocogoose-classic-medium-trial-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.navbar.transparent.navbar-inverse .navbar-inner {
    border-width: 0px;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
    background-color: rgba(0,0,0,0.0);
    background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
    background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
    background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);

}

.sexy_line{ 
    display:block;
    border:none;
    color:white;
    height:1.5px;
    background:#FFE4B5;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#FFE4B5), to(#FF6347));
   /* width: 90%;*/
    align-content: center;
    /*padding-bottom: 1em;*/
}

.nav {
    width: 80vh;
    top: 13vh;
    display: none;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: fixed;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform: rotate(-90deg) translateX(-100%);
    transform: rotate(-90deg) translateX(-100%);
}

.nav .tl {
    color: #1e3264;
    text-align: center;
    font-size: 0.625rem;
    opacity: 0.35;
    cursor: pointer;
    transition: all 0.25s ease-out 0s;
    margin-top: 2.5vw;
}

a.nav-link {
    text-decoration: none;
    color: #1e3264;
    transition: all 0.25s ease-out 0s;
}

.nav .tl .underline {
    width: 100%;
    height: 2px;
    background-color: #1e3264;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    transition: all 0.25s ease-out 0s;
}

div.holder{
  position: relative;
}

div.playMusic {
  float: left;
  padding-right: 10px;
  padding-top: 5px;
}

div.songInfo{
  float: left;
}

img.playButton {
  height: 40px;
  width: 40px;
}

/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
