 /* html {
  height: 100%;
}  */

body {
  padding-top: 5rem;
  /*background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);*/
  background: rgb(34,193,195);
  background: -moz-linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(91,132,251,1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(91,132,251,1) 100%);
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(91,132,251,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#22c1c3",endColorstr="#5b84fb",GradientType=1);      
  height: 100%;
}

.base_template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.datasetWarn{
  background-color:#e50000;
}

.bg-green{
  background-color: #1db954!important
}

hr {
    border: none;
    height: 1px;
    /* Set the hr color */
    color: white; /* old IE */
    background-color: white; /* Modern Browsers */
    width: 65%;
    align-content: left;
}


h1 {
  color: dark-gray;
}

@font-face {
    font-family: 'cocogoose_classic_trialmedium';
    src: url('cocogoose-classic-medium-trial-webfont.woff2') format('woff2'),
         url('cocogoose-classic-medium-trial-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.navbar.transparent.navbar-inverse .navbar-inner {
    border-width: 0px;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
    background-color: rgba(0,0,0,0.0);
    background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
    background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
    background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
}